{%extends 'base.html'%}

{%block title%}Integrantes{%endblock title%}

{%block content%}

	<div class="table-responsive texto" >
		<table class="table">
			<thead>
				<tr>
					<th><p align="right">Foto</p></th>
					<th><p>Información</p></th>
				</tr>
			</thead>
			<tbody>

		{%for integrante in integrantes%}

				<tr>
					<td WIDTH=50% class="text-right">
						<img src="{{integrante.foto.url}}" height="150">
					</td>
					<td WIDTH=50%>
						<p align="left">{{integrante.nombre}}</p>
						<p align="left">{{integrante.rol}}</p>
					</td>
				</tr>

		{%empty%}

			</tbody>
			<h2>Vacio</h2>

		{%endfor%}

		</table>
	</div>

{%endblock content%}