html, body{
    height:100%;
}

body{
	padding-top: 50px; 
	background: url(paisaje.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.texto{
	font-size: 18px;
 	line-height: 25px;
 	color: white;
}

a{
	color: #FFF;
}

a:hover {
    color: #E6E6E6;
    text-decoration: none;
}

h1{
	text-align: center;
}

/*Efecto de sombra*/
.area-sombra{
    min-height:100%;
    background: rgba(0, 0, 0, 0.7);
    width: 70%;
}

/*Imagen del menu*/
.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

/* navbar */
.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

/*Menụ̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣̣*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;  /*Sets the text hover color on navbar*/
    background-color: #2E2E2E;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #2E2E2E;
}

.navbar-default {
    background-color: #000;
    border-color: #000;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: red; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}