{%extends 'base.html'%}
{%block title%}Proximos eventos{%endblock title%}

{%block content%}

	<div class="table-responsive">
		<table class="table">
		<thead>
			<tr>
				<th><p align="center">Flyer</p></th>
				<th><p align="center">Nombre</p></th>
				<th><p align="center">Fecha</p></th>
				<th><p align="center">Hora</p></th>
				<th><p align="center">Lugar</p></th>
			</tr>
		</thead>

	{%for evento in eventosf%}

		<tbody>
			<tr>

				<td>
					{%if evento.flyer%}
						<p><img src="/media/{{evento.flyer}}" height="100"></p>
					{%else%}
						<p><img src="/media/evento/nohayfoto.png" height="100"></p>
					{%endif%}
				</td>
				<td><p>{{evento.nombre}}</p></td>
				<td><p>{{evento.fecha|date:"d M Y"}}</p></td>
				<td><p>{{evento.hora}}</p></td>
				<td><p>{{evento.lugar}}</p></td>
			</tr>

	{%empty%}
		<h1>¡¡¡Por el momento no hay shows, inviten a uno!!!</h1>
	
		</tbody>
	</table>
 	</div>
 	{%endfor%}
	
{%endblock content%}