{%extends 'base.html'%}
{%block title%}Biografia{%endblock title%}

{%block content%}
	<br>

	<p class="texto">En el año 2010 Eduardo y Luis se conocen en el COBAEH plantel Actopan, donde guiados por el profesor Francisco, mejor conocido como "Pancholin", los induce al arte de la música. </p>

	<p class="texto">Para el año 2014, ya tenían maquetas de algunas canciones propias, para consolidar invitan a David y Miguel a formar parte del proyecto y el 2 de Noviembre queda estipulado el nombre de "Los Arquetipos de Jung".</p>

	<p class="texto">Aun que ya llevamos tocando un buen rato, sabemos que somos un proyecto joven y que falta mucha historia por escribir, por eso dejaremos esto en CONTINUARÁ...</p>
{%endblock content%}

